@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Google Sans Code", monospace;
    padding: 1rem;
}

body > div {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: clamp(300px, 50%, 1000px);
    margin: auto;
    background-color: #ddd;
    padding: 0.75rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

div button {
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    background-color: white;
    font-size: large;
    padding: 0.5rem;
    font-family: "Google Sans Code", monospace;
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}